.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 30px;
  width:  100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transition:visibility 0s linear 0.1s,opacity 0.3s ease;
}
.modal.open {
  visibility:visible;
  opacity: 1;
  transition-delay:0s;
}
.modal__overlay {
	position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 21;
  background-color: rgba(0,0,0,0.7);
}
.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
  color: #747474;
  font-weight: bold;
  cursor: pointer;
}
.modal__close:hover {
  color: black;
}
.modal__container {
  position: relative;
  z-index: 22;
  width: 600px;
  min-height: 200px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 10px #3b3b3b;
  margin: 0 auto;
  padding: 30px;
  background-color: #fff;
  text-align: center;
  word-break: break-all;
}
.app_name {
  text-align: left;
  word-break: break-word;
  font: 17px/27px Arial,sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d6;
}
.app_description {
  text-align: left;
  word-break: break-word;
  font: 15px/27px Arial,sans-serif;
  color: #696969;
}
.modal__container textarea {
  width: 100%;
  margin: 0px;
  resize: none;
  font: 15px/27px Arial, sans-serif;
  padding: 0px;
  height: 32px;
  padding-left: 10px;
  border-radius: 4px;
}
.star {
  width: 22px;
  height: 22px;
  fill: #fcc800;
}
.star-wrapper {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rating {
  float: left;
  font-size: 24px;
  font: 24px/27px Arial,sans-serif;
  font-weight: 700;
  margin-top: -3px;
  margin-right: 20px;
}








.auth_modal .modal__container {
  width: 400px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
  cursor: pointer;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
